.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-height: 100vh;
  position: relative;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-max-width;

  &--narrow {
    max-width: $container-narrow-max-width;
  }
}

.project {

  &__image {
    margin-left: -30%;
    margin-right: -30%;
  }
}
