h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: $font-family-sans-serif;
  line-height: 1.1;
  color: inherit;
}

h1 {
  font-size: 1.602em;
}
h2 {
  font-size: 1.424rem;
}
h3 {
  font-size: 1.266rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.889rem;
}

@include mq-up(md) {
  h1 {
    font-size: 2.441rem;
  }
  h2 {
    font-size: 1.953rem;
  }
  h3 {
    font-size: 1.563rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

b,
strong {
  // Add the correct font weight in Chrome, Edge, and Safari
  font-weight: bolder;
}

.lead {
  color: $blue-700;
  font-size: $font-size-medium;
  margin-top: 2rem;
  margin-bottom: 1rem;

  @include mq-up(md) {
    font-size: $font-size-large;
  }
}

::selection {
  background: $blue;
  color: #fff;
}

::-moz-selection {
  background: $blue;
  color: #fff;
}
