<header class="site__header header" role="banner">
  <div class="container header__content">
    <a class="header__brand" href="/" rel="home" aria-label="Go To Homepage">
      <div class="header__avatar">
        {% include "../assets/icons/logo.svg" %}
      </div>
    </a>

    <nav class="header__nav nav" role="navigation">
      {# Menu Toggle Button #}
      <button
        class="nav__toggle"
        aria-expanded="false"
        aria-controls="nav-menu"
      >
        <span class="visually-hidden">toggle menu</span>
        <span class="menuicon">
          <span class="menuicon__bar"></span>
          <span class="menuicon__bar"></span>
          <span class="menuicon__bar"></span>
          <span class="menuicon__bar"></span>
        </span>
      </button>

      {# Nav Links  #}
      <ul class="nav__menu list list--inline">
      {%- for item in collections.all | eleventyNavigation -%}
        {%- set isCurrent = (item.url == page.url) -%}
        {%- set isParent = item.url != '/' and item.url in page.url -%}
        <li class="nav__item{% if isCurrent or isParent %} nav__item--active{% endif %}">
          <a class="nav__link" href="{% if isCurrent %}#main{% else %}{{ item.url | url }}{% endif %}" {% if isCurrent %}aria-current="page"{% endif %}>{{ item.title }}</a>
        </li>
      {%- endfor -%}
      </ul>

    </nav>
  </div>
</header>
