<section class="notelist">

  {% for note in collections.notes | reverse %}
  <article class="notelist__item">
    <time class="notelist__date" datetime="{{ note.date | formatISO }}">
      {{ note.date | format('dd LLL yyyy') }}
    </time>
    <div class="notelist__content">
      {{ note.templateContent | safe }}
    </div>
  </article>
  {% endfor %}

</section>
