<section>
  {% for project in projects | reverse %}
  <article>
    <h2>
      <a href="{{ project.url | url }}">{{ project.data.title }}</a>
    </h2>

    <div>
      <time datetime="{{ project.date | formatISO }}">
        {{ project.date | format('LLL yyyy') }}
      </time>
    </div>
  </article>
  {% endfor %}
</section>
