@mixin mq-up($name) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin mq-down($name) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (max-width: ($min - 1px)) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin extend {
  @include mq-up(lg) {
    margin-right: -3rem;
    margin-left: -3rem;
  }
}

@mixin container-narrow() {
  width: 100%;
  max-width: $container-narrow-max-width;
  margin-left: auto;
  margin-right: auto;
}
