.page {

  @include mq-up(md) {
    font-size: $font-size-medium;
    line-height: 1.6;
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $gray-700;
  }

  p {
    margin-bottom: 1.5rem;
  }
}
