.project {

  // Only add background gray to project images
  .project__content picture {
    display: block;
    @include extend;
    background-color: $gray-200;
    padding: 8rem 4rem;
  }

  figure,
  .project__content picture {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }

  figcaption {
    margin-top: -1rem;
    text-align: center;
    font-size: $font-size-base;
    font-style: italic;
    color: $gray-600;
  }

  .img-fluid {
    margin: 0 auto;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
  }

  &__date {
    display: block;
    color: $gray-600;
    font-size: $font-size-small;
    font-family: $font-family-sans-serif;

    &::after {
      content: '';
      display: block;
      margin: 1rem 0 2rem;
      width: 3rem;
      height: 5px;
      background: $blue-300;
      opacity: 0.25;
    }
  }

  &__tags {
    margin: 0 1rem;
  }

  &__tag {
    display: inline-block;
    text-decoration: none;
    color: $gray-700;
    padding: 0.15rem 0.5rem;
    margin-right: 0.5rem;
    font-size: $font-size-small;
    font-family: $font-family-sans-serif;
    background-color: $gray-200;
    transition: background-color 0.15s ease-in;

    &:hover,
    &:focus {
      background: $blue-100;
    }
  }
}
