h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: ($spacer / 2);
  font-family: inherit;
  font-weight: 500;
  line-height: $headings-line-height;
  color: inherit;
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

.lead {
  font-size: 1.75rem;  // 28px
  font-weight: 300;
}

hr {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 0;
  border-top: $border-width solid rgba(0,0,0,.1);
}

small,
.small {
  font-size: $small-font-size;
  font-weight: normal;
}

mark,
.mark {
  padding: .2em;
  background-color: $ligt-yellow;
}

code, kbd,
pre, samp {
  font-family: $font-family-monospace;
}

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: $red;
  background-color: $gray-lightest;
  border-radius: $border-radius;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 90%;
  color: $gray-dark;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    border-radius: 0;
  }
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #fff;
  background-color: $gray-dark;
  border-radius: $border-radius-sm;

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: bold;
  }
}
