// COLORS ====================================

// MAIN COLORS ------------------
$gray-dark:                         #373a3c;
$gray:                              #55595c;
$gray-light:                        #818a91;
$gray-lighter:                      #eceeef;
$gray-lightest:                     #f7f7f9;

$blue:                              #2a7ae2;

// BRAND COLORS ------------------
$brand-color:                       $blue;
$brand-secondary:                   $gray-dark;

// GLOBALS  ====================================

$body-bg:                           $gray-lightest;
$body-color:                        $gray;

$link-color:                        $brand-color;
$link-decoration:                   none;
$link-hover-color:                  darken($link-color, 15%);
$link-hover-decoration:             underline;

$spacer:                            1rem;
$border-width:                      1px;

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// TYPE ====================================

$font-family:                       "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace:             Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-size-root:                    16px;
$font-size:                         1rem;
$line-height:                       1.5;

$font-size-h1:                      2.5rem;
$font-size-h2:                      2rem;
$font-size-h3:                      1.75rem;
$font-size-h4:                      1.5rem;
$font-size-h5:                      1.25rem;
$font-size-h6:                      1rem;

$small-font-size:                   80%;

$headings-margin-bottom:            ($spacer / 2);
$headings-font-family:              inherit;
$headings-font-weight:              500;
$headings-line-height:              1.1;
$headings-color:                    inherit;

$text-muted:                        $gray-light !default;
