---
layout: default
permalink: 404.html
title: Page not found
eleventyExcludeFromCollections: true
---

<div class="container">
  {% markdown %}
    # Page not found

    Go [home](/){style="font-weight: bold"}
  {% endmarkdown %}
</div>
