---
layout: default
permalink: /notes/
title: Notes
eleventyNavigation:
  key: Notes
  order: 1
---

<div class="container page">
  <h1 class="page__title">
    <span class="page__title-pre">Random stuffs that</span>
    <span>May or may not interest you.</span>
  </h1>

  {% include "notelist.njk" %}
</div>
