---
layout: default
permalink: /projects/
title: Projects
eleventyNavigation:
  key: Projects
---

<div class="container page">
  <h1>Yearly contributions.</h1>
  {% set projects = collections.projects %}
  {% include "projectlist.njk" %}
</div>
