---
layout: default
permalink: /projects/
title: Projects
eleventyNavigation:
  key: Projects
  order: 2
---

<div class="container page">
  <h1 class="page__title">
    <span class="page__title-pre">A sample of my</span>
    <span>Yearly contributions.</span>
  </h1>

  {% set projects = collections.projects %}
  {% include "projectlist.njk" %}
</div>
