---
layout: default
permalink: /projects/
title: Projects
eleventyNavigation:
  key: Projects
---

<div class="container">
  <h1>/played</h1>
  {% set projects = collections.projects %}
  {% include "projectslist.njk" %}
</div>
